@use "scrollbar";

anki-editable {
    display: block;
    overflow-wrap: break-word;
    overflow: auto;
    padding: 6px;

    &:focus {
        outline: none;
    }

    * {
        max-width: 100%;
    }
}

anki-mathjax {
    white-space: pre;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;

    &:empty::after {
        content: "\a";
        white-space: pre;
    }
}

:host(.nightMode) * {
    @include scrollbar.night-mode;
}

img.drawing {
    zoom: 50%;

    .nightMode & {
        filter: unquote("invert() hue-rotate(180deg)");
    }
}

[hidden] {
    display: none;
}

@import "codemirror/lib/codemirror";
@import "codemirror/theme/monokai";
@import "codemirror/addon/fold/foldgutter";

.CodeMirror {
    height: auto;
    padding: 6px 0;
}
